<h1><%= t "auths.mail.greeting" %>, <%= @data[:user].name %></h1>
<br>
<%= link_to t("auths.forget_password.title"), edit_password_reset_url(id: @data[:user].reset_token, email: @data[:user].email) %>
