.checkbox-inline {
  margin-bottom: 15px;
  margin-top: 10px;
  padding-left: 0px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

#auth_remember {
  margin-left: 0;
  width: auto;
}
